# PostHog Analytics (optional)
# Sign up at https://posthog.com for free analytics
# If not set, analytics will be disabled
POSTHOG_KEY=your_posthog_project_key_here
POSTHOG_HOST=https://us.i.posthog.com
